/* Spring Security UI */

#s2ui_main {
	margin: 0px;
	width: 100%;
}

#s2ui_header {
	overflow: hidden;
}

#s2ui_header_title {
	font-size: 1.5em;
	color: black;
	text-align: center;
	margin-top: 5px;
}

#s2ui_header_body {
	width: 100%;
}

#s2ui_login_link_container {
	position: absolute;
	top: 28px;
	right: 10px;
	float: right;
}

#s2ui_content {
	float: left;
	width: 96%;
	margin-top: 6px;
	margin-left: 12px;
}

.s2ui_section {
	padding: 18px;
	border: 1px solid #f2f2f2;
}

.s2ui_required {
	color: red;
	font-weight: bold;
}

.s2ui_center {
	margin-left: auto;
	margin-right: auto;
}

.s2ui_hidden_button {
	float: right;
	height: 0;
	left: 1px;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 0;
	z-index: -1000;
	border: 0;
	background: white;
}

.s2ui_error {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	font-weight: normal;
	color: #D8000C;
}
.s2ui_error p {
	margin: 2px;
}

/* PAGINATION */

.paginateButtons {
	color: #666;
	font-size: 10px;
	overflow: hidden;
	padding: 10px 3px;
}

.paginateButtons a {
	background: #fff;
	border: 1px solid #ccc;
	border-color: #ccc #aaa #aaa #ccc;
	color: #666;
	margin: 0 3px;
	padding: 2px 6px;
}

.paginateButtons span {
	padding: 2px 3px;
}