<script id="address-row-available" type="text/html">
    <tr id="addressRowAvailable_{{idEntity}}">
        <td>
            <input type="text" name="txtStreet_{{idEntity}}" id="txtStreet_{{idEntity}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtCity_{{idEntity}}" id="txtCity_{{idEntity}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtCountry_{{idEntity}}" id="txtCountry_{{idEntity}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtZip_{{idEntity}}" id="txtZip_{{idEntity}}" class="form-control" />
        </td>
        <td>
            <button type="button"
                    id="btnAddAddress_{{idEntity}}"
                    data-button='{ "idEntity": {{idEntity}}}'
                    class="btn btn-success btnSaveAddress">
                <span class="glyphicon glyphicon-check"></span>
            </button>
        </td>
    </tr>
</script>

<script id="address-row-selected" type="text/html">
    <tr id="addressRowSelected_{{id}}">
        <td>
            {{addressStreet}}
        </td>
        <td>
            {{addressCity}}
        </td>
        <td>
            {{addressCountry}}
        </td>
        <td>
            {{addressZip}}
        </td>
        <td>
            <button type="button"
                    data-button='{"id": {{id}}}'
                    class="btn btn-danger btnRemoveAddress">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
</script>

