<script id="city-row-available" type="text/html">
    <tr id="cityRowAvailable">
        <td>
            <input type="text" name="txtName" id="txtName" class="form-control" />
        </td>
        <td>
            <button type="button"
                    id="btnAddCity"
                    class="btn btn-success btnSaveCity">
                <span class="glyphicon glyphicon-check"></span>
            </button>
        </td>
    </tr>
</script>

<script id="city-row-selected" type="text/html">
    <tr id="cityRowSelected_{{id}}">
        <td>
            {{cityName}}
        </td>
        <td>
            <button type="button"
                    data-button='{"id": {{id}}}'
                    class="btn btn-danger btnRemoveCity">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
</script>

