<script id="person-row-available" type="text/html">
    <tr id="personRowAvailable_{{idCustomer}}">
        <td>
            <input type="text" name="txtName_{{idCustomer}}" id="txtName_{{idCustomer}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtSurName_{{idCustomer}}" id="txtSurName_{{idCustomer}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtNif_{{idCustomer}}" id="txtNif_{{idCustomer}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtMovil_{{idCustomer}}" id="txtMovil_{{idCustomer}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtParticular_{{idCustomer}}" id="txtParticular_{{idCustomer}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtTrabajo_{{idCustomer}}" id="txtTrabajo_{{idCustomer}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtHorario_{{idCustomer}}" id="txtHorario_{{idCustomer}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtMail_{{idCustomer}}" id="txtMail_{{idCustomer}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtIdioma_{{idCustomer}}" id="txtIdioma_{{idCustomer}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtTrato_{{idCustomer}}" id="txtTrato_{{idCustomer}}" class="form-control" />
        </td>
        <td>
            <button type="button"
                    id="btnAddPerson_{{idCustomer}}"
                    data-button='{ "idCustomer": {{idCustomer}}}'
                    class="btn btn-success btnSavePerson">
                <span class="glyphicon glyphicon-check"></span>
            </button>
        </td>
    </tr>
</script>

<script id="person-row-selected" type="text/html">
    <tr id="personRowSelected_{{id}}">
        <td>
            {{customerPersonName}}
        </td>
        <td>
            {{customerPersonSurName}}
        </td>
        <td>
            {{customerPersonNif}}
        </td>
        <td>
            {{customerPersonMovil}}
        </td>
        <td>
            {{customerPersonParticular}}
        </td>
        <td>
            {{customerPersonTrabajo}}
        </td>
        <td>
            {{customerPersonHorario}}
        </td>
        <td>
            {{customerPersonMail}}
        </td>
        <td>
            {{customerPersonIdioma}}
        </td>
        <td>
            {{customerPersonTrato}}
        </td>
        <td>
            <button type="button"
                    data-button='{"id": {{id}}}'
                    class="btn btn-danger btnRemovePerson">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
</script>

