<script id="floor-row-available" type="text/html">
    <tr id="floorRowAvailable_{{idProperty}}">
        <td>
            <input type="text" name="txtName__{{idProperty}}" id="txtName__{{idProperty}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtDescription__{{idProperty}}" id="txtDescription__{{idProperty}}" class="form-control" />
        </td>
        <td>
            <button type="button"
                    id="btnAddFloor_{{idProperty}}"
                    data-button='{ "idProperty": {{idProperty}}}'
                    class="btn btn-success btnSaveFloor">
                <span class="glyphicon glyphicon-check"></span>
            </button>
        </td>
    </tr>
</script>

<script id="floor-row-selected" type="text/html">
    <tr id="floorRowSelected_{{id}}">
        <td>
            {{floorName}}
        </td>
        <td>
            {{floorDescription}}
        </td>
        <td>
            <button type="button"
                    data-button='{"id": {{id}}}'
                    class="btn btn-danger btnRemoveFloor">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
</script>

