<script id="order-row-available" type="text/html">
    <tr id="orderRowAvailable_{{idInvoice}}">
        <td>
            <input type="text" name="txtName__{{idInvoice}}" id="txtName__{{idInvoice}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtTotal__{{idInvoice}}" id="txtTotal__{{idInvoice}}" class="form-control" />
        </td>
        <td>
            <button type="button"
                    id="btnAddOrder_{{idInvoice}}"
                    data-button='{ "idInvoice": {{idInvoice}}}'
                    class="btn btn-success btnSaveOrder">
                <span class="glyphicon glyphicon-check"></span>
            </button>
        </td>
    </tr>
</script>

<script id="order-row-selected" type="text/html">
    <tr id="orderRowSelected_{{id}}">
        <td>
            {{invoiceOrderName}}
        </td>
        <td>
            {{invoiceOrderTotal}}
        </td>
        <td>
            <button type="button"
                    data-button='{"id": {{id}}}'
                    class="btn btn-danger btnRemoveOrder">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
</script>

