<script id="owner-row-available"  type="text/html">
	<div id="ownerRowAvailable_{{idProperty}}" class="divOwner">
         <div style="display:block;width:80%;">
	         	<div style="float:left;width:100%;">
					<div style="float:left;width:25%;">Nombre:<input type="text" name="txtCompleteName__{{idProperty}}" id="txtCompleteName__{{idProperty}}" class="form-control" /></div>
					<div style="float:left;width:10%;">DNI:<input type="text" name="txtDni__{{idProperty}}" id="txtDni__{{idProperty}}" class="form-control" /></div>
					<div style="float:left;width:32%;">Dirección:<input type="text" name="txtAddress__{{idProperty}}" id="txtAddress__{{idProperty}}" class="form-control" /></div>
					<div style="float:left;width:15%;">Tel.1<input type="text" name="txtPhone1__{{idProperty}}" id="txtPhone1__{{idProperty}}" class="form-control" /></div>
					<div style="float:left;width:15%;">Tel.2<input type="text" name="txtPhone2__{{idProperty}}" id="txtPhone2__{{idProperty}}" class="form-control" /></div>
                </div>
                <div style="float:left;width:100%;">
                    <div style="float:left;width:32%;">eMail<input type="text" name="txtMail__{{idProperty}}" id="txtMail__{{idProperty}}" class="form-control" /></div>
                    <div style="float:left;width:15%;">Estado Civ.<input type="text" name="txtEstado__{{idProperty}}" id="txtEstado__{{idProperty}}" class="form-control" /></div>
                    <div style="float:left;width:15%;">Régimen:<input type="text" name="txtRegimen__{{idProperty}}" id="txtRegimen__{{idProperty}}" class="form-control" /></div>
                    <div style="float:left;width:20%;">Horario contac.<input type="text" name="txtHorario__{{idProperty}}" id="txtHorario__{{idProperty}}" class="form-control" /></div>
                    <div style="float:left;width:15%;">Sector Prof.<input type="text" name="txtSector__{{idProperty}}" id="txtSector__{{idProperty}}" class="form-control" /></div>
				</div>
				<div style="float:left;width:100%;">
					<div style="float:left;width:40%;">Observaciones<input type="text" name="txtObservaciones__{{idProperty}}" id="txtObservaciones__{{idProperty}}" class="form-control" /></div>
					<div style="float:left;width:15%;">Idioma<input type="text" name="txtIdioma__{{idProperty}}" id="txtIdioma__{{idProperty}}" class="form-control" /></div>
					<div style="float:left;width:12%;">Trato<input type="text" name="txtTrato__{{idProperty}}" id="txtTrato__{{idProperty}}" class="form-control" /></div>
                    <div style="float:left;width:30%;">Cuenta<input type="text" name="txtCuenta__{{idProperty}}" id="txtCuenta__{{idProperty}}" class="form-control" /></div>
				</div>
		</div>
		<div style="float:left;width:20%;">
            <button type="button"
                    id="btnAddOwner_{{idProperty}}"
                    data-button='{ "idProperty": {{idProperty}}}'
                    class="btn btn-success btnSaveOwner">
                <span class="glyphicon glyphicon-check"></span>
            </button>
        </div>
	</div>
</script>

<script id="owner-row-selected" type="text/html">
    <tr id="ownerRowSelected_{{id}}">
        <td>
            {{ownerCompleteName}}
        </td>
        <td>
            {{ownerDni}}
        </td>
        <td>
            {{ownerAddress}}
        </td>
        <td>
            {{ownerPhone1}}
        </td>
        <td>
            {{ownerPhone2}}
        </td>
        <td>
            {{ownerMail}}
        </td>
        <td>
            {{ownerEstado}}
        </td>
        <td>
            {{ownerRegimen}}
        </td>
        <td>
            {{ownerHorario}}
        </td>
        <td>
            {{ownerSector}}
        </td>
        <td>
            {{ownerObservaciones}}
        </td>
        <td>
            {{ownerIdioma}}
        </td>
        <td>
            {{ownerTrato}}
        </td>
        <td>
            {{ownerCuenta}}
        </td>
        <td>
            <button type="button"
                    data-button='{"id": {{id}}}'
                    class="btn btn-danger btnRemoveOwner">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
</script>

