<script id="phone-row-available" type="text/html">
    <tr id="phoneRowAvailable_{{idPerson}}">
        <td>
            <input type="text" name="txtName_{{idPerson}}" id="txtName_{{idPerson}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtNumber_{{idPerson}}" id="txtNumber_{{idPerson}}" class="form-control" />
        </td>
        <td>
            <button type="button"
                    id="btnAddPhone_{{idPerson}}"
                    data-button='{ "idPerson": {{idPerson}}}'
                    class="btn btn-success btnSavePhone">
                <span class="glyphicon glyphicon-check"></span>
            </button>
        </td>
    </tr>
</script>

<script id="phone-row-selected" type="text/html">
    <tr id="phoneRowSelected_{{id}}">
        <td>
            {{phoneName}}
        </td>
        <td>
            {{phoneNumber}}
        </td>
        <td>
            <button type="button"
                    data-button='{"id": {{id}}}'
                    class="btn btn-danger btnRemovePhone">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
</script>

