<script id="portal-row-available" type="text/html">
    <tr id="portalRowAvailable_{{idProperty}}">
        <td>
            <input type="text" name="txtName__{{idProperty}}" id="txtName__{{idProperty}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtLink__{{idProperty}}" id="txtLink__{{idProperty}}" class="form-control" />
        </td>
        <td>
            <button type="button"
                    id="btnAddPortal_{{idProperty}}"
                    data-button='{ "idProperty": {{idProperty}}}'
                    class="btn btn-success btnSavePortal">
                <span class="glyphicon glyphicon-check"></span>
            </button>
        </td>
    </tr>
</script>

<script id="portal-row-selected" type="text/html">
    <tr id="portalRowSelected_{{id}}">
        <td>
            {{portalName}}
        </td>
        <td>
            {{portalLink}}
        </td>
        <td>
            <button type="button"
                    data-button='{"id": {{id}}}'
                    class="btn btn-danger btnRemovePortal">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
</script>

