<script id="price-row-available" type="text/html">
    <tr id="priceRowAvailable_{{idProperty}}">
        <td>
            <input type="text" name="txtFecha__{{idProperty}}" id="txtFecha__{{idProperty}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtAmount__{{idProperty}}" id="txtAmount__{{idProperty}}" class="form-control" />
        </td>
        <td>
            <input type="text" name="txtComment__{{idProperty}}" id="txtComment__{{idProperty}}" class="form-control" />
        </td>
        <td>
            <button type="button"
                    id="btnAddPrice_{{idProperty}}"
                    data-button='{ "idProperty": {{idProperty}}}'
                    class="btn btn-success btnSavePrice">
                <span class="glyphicon glyphicon-check"></span>
            </button>
        </td>
    </tr>
</script>

<script id="price-row-selected" type="text/html">
    <tr id="priceRowSelected_{{id}}">
        <td>
            {{priceFecha}}
        </td>
        <td>
            {{priceAmount}}
        </td>
        <td>
            {{priceComment}}
        </td>
        <td>
            <button type="button"
                    data-button='{"id": {{id}}}'
                    class="btn btn-danger btnRemovePrice">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
</script>

