<script id="search-row-available" type="text/html">
    <div id="searchRowAvailable_{{idCustomer}}">
        <div style="display:block;width:95%;">
            <div style="float:left;width:100%;">
                <div style="float:left;width:18%;">Tipo
                    <select name="cboTipo__{{idCustomer}}" class="classSelect" id="cboTipo__{{idCustomer}}">
                        <option value="0" class="classOption" selected="selected">--Elegir--</option>
                        {{#options}}
                        <option value="{{id}}" class="classOption">{{name}}</option>
                        {{/options}}
                    </select>
                </div>
                <div style="float:left;width:19%;">Operación:
                    <select name="cboOperacion__{{idCustomer}}" class="classSelect" id="cboOperacion__{{idCustomer}}">
                        <option value="VENTA" class="classOption" {{#selected}}selected="selected"{{/selected}}>VENTA</option>
                        <option value="ALQUILER" class="classOption">ALQUILER</option>
                        <option value="ALQUILER_VENTA" class="classOption">ALQUILER_VENTA</option>
                        <option value="ALQUILER_COMPRA" class="classOption">ALQUILER_COMPRA</option>
                    </select>
                </div>
                <div style="float:left;width:12%;">Local:
                    <select name="cboCity__{{idCustomer}}" class="comboCity" id="cboCity__{{idCustomer}}">
                        <option value="0" class="classOption" selected="selected">--Elegir--</option>
                        {{#options_city}}
                        <option value="{{id}}" class="classOption">{{name}}</option>
                        {{/options_city}}
                    </select>
                </div>
                <div style="float:left;width:26%;">Zona:
                    <select name="cboZone__{{idCustomer}}" class="classSelect" id="cboZone__{{idCustomer}}">
                        <option value="0" class="classOption" selected="selected">--Elegir--</option>
                        {{#options_zone}}
                        <option value="{{id}}" class="classOption">{{name}}</option>
                        {{/options_zone}}
                    </select>
                </div>
                <div style="float:left;width:10%;">Par.min.
                    <input type="text" name="txtParcelaMin__{{idCustomer}}" id="txtParcelaMin__{{idCustomer}}" class="form-control" style="width:60px;" />
                </div>
                <div style="float:left;width:10%;">Par.max.
                    <input type="text" name="txtParcelaMax__{{idCustomer}}" id="txtParcelaMax__{{idCustomer}}" class="form-control" style="width:60px;" />
                </div>
            </div>
            <div style="float:left;width:100%;padding: 2% 0;">
                <div style="float:left;width:3%;padding: 1% 0;">Am.
                    <input type="checkbox" class="checkbox" name="chkAmueblado__{{idCustomer}}" id="chkAmueblado__{{idCustomer}}" class="form-control" />
                </div>
                <div style="float:left;width:3%;padding: 1% 0;">Gj.
                    <input type="checkbox" class="checkbox" name="chkGaraje__{{idCustomer}}" id="chkGaraje__{{idCustomer}}" class="form-control" />
                </div>
                <div style="float:left;width:7%;">Con.min:
                    <input type="text" name="txtConstruidaMin__{idCustomer}}" id="txtConstruidaMin__{{idCustomer}}" class="form-control" style="width:50px;" />
                </div>
                <div style="float:left;width:7%;">Con.max:
                    <input type="text" name="txtConstruidaMax__{idCustomer}}" id="txtConstruidaMax__{{idCustomer}}" class="form-control" style="width:50px;" />
                </div>
                <div style="float:left;width:6%;">Dor:
                    <input type="text" name="txtDormitorios__{{idCustomer}}" id="txtDormitorios__{{idCustomer}}" class="form-control" style="width:35px;"/>
                </div>
                <div style="float:left;width:6%;">Bañ:
                    <input type="text" name="txtBanos__{{idCustomer}}" id="txtBanos__{{idCustomer}}" class="form-control" style="width:35px;"/>
                </div>
                <div style="float:left;width:13%;">Sur:
                    <input type="text" name="txtSur__{{idCustomer}}" id="txtSur__{{idCustomer}}" class="form-control" style="width:110px;"/>
                </div>
                <div style="float:left;width:13%;">Norte:
                    <input type="text" name="txtNorte__{{idCustomer}}" id="txtNorte__{{idCustomer}}" class="form-control" style="width:110px;"/>
                </div>
                <div style="float:left;width:13%;">Int:
                    <input type="text" name="txtInterior__{{idCustomer}}" id="txtInterior__{{idCustomer}}" class="form-control" style="width:110px;"/>
                </div>
                <div style="float:left;width:3%;padding: 1% 0;">Vis
                    <input type="checkbox" class="checkbox" name="txtVistas__{{idCustomer}}" id="txtVistas__{{idCustomer}}" class="form-control" />
                </div>
                <div style="float:left;width:3%;padding: 1% 0;">Llv
                    <input type="checkbox" class="checkbox" name="txtLlave__{{idCustomer}}" id="txtLlave__{{idCustomer}}" class="form-control" />
                </div>
                <div style="float:left;width:15%;">Máx:
                    <input type="text" name="txtMaximo__{{idCustomer}}" id="txtMaximo__{{idCustomer}}" class="form-control" style="width:120px;"/>
                </div>
            </div>
        </div>
        <div style="float:left;width:5%;">
            <button type="button"
                    id="btnAddSearch__{{idCustomer}}"
                    data-button='{ "idCustomer": {{idCustomer}}}'
                    class="btn btn-success btnSaveSearch">
                <span class="glyphicon glyphicon-check"></span>
            </button>
        </div>
    </div>
</script>

<script id="search-row-selected" type="text/html">
    <tr id="searchRowSelected_{{id}}">
        <td>
            {{searchTipo}}
        </td>
        <td>
            {{searchParcela}}
        </td>
        <td>
            {{searchConstruida}}
        </td>
        <td>
            {{searchDormitorios}}
        </td>
        <td>
            {{searchBanos}}
        </td>
        <td>
            {{searchSur}}
        </td>
        <td>
            {{searchInterior}}
        </td>
        <td>
            {{searchVistas}}
        </td>
        <td>
            {{searchLlave}}
        </td>
        <td>
            {{searchMaximo}}
        </td>
        <td>
            <button type="button"
                    data-button='{"id": {{id}}}'
                    class="btn btn-danger btnRemoveSearch">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
</script>

