<script id="tipo-inmueble-row-available" type="text/html">
    <tr id="tipoInmuebleRowAvailable">
        <td>
            <input type="text" name="txtName" id="txtName" class="form-control" />
        </td>
        <td>
            <button type="button"
                    id="btnAddTipo"
                    class="btn btn-success btnSaveTipoInmueble">
                <span class="glyphicon glyphicon-check"></span>
            </button>
        </td>
    </tr>
</script>

<script id="tipo-inmueble-row-selected" type="text/html">
    <tr id="tipoInmuebleRowSelected_{{id}}">
        <td>
            {{tipoInmuebleName}}
        </td>
        <td>
            <button type="button"
                    data-button='{"id": {{id}}}'
                    class="btn btn-danger btnRemoveTipoInmueble">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
</script>

