<script id="zone-row-available" type="text/html">
    <tr id="zoneRowAvailable">
		<td>           
			<select name="cboCity" class="classSelect" id="cboCity">
				{{#options}}
    				<option value="{{id}}" class="classOption" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
				{{/options}}
			</select>
		</td>
        <td>
            <input type="text" name="txtName" id="txtName" class="form-control" />
        </td>
        <td>
            <button type="button"
                    id="btnAddZone"
                    class="btn btn-success btnSaveZone">
                <span class="glyphicon glyphicon-check"></span>
            </button>
        </td>
    </tr>
</script>

<script id="zone-row-selected" type="text/html">
    <tr id="zoneRowSelected_{{id}}">
		<td>
            {{zoneCity}}
        </td>
        <td>
            {{zoneName}}
        </td>
        <td>
            <button type="button"
                    data-button='{"id": {{id}}}'
                    class="btn btn-danger btnRemoveZone">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
</script>

